## 인코딩확인

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statistics

In [2]:
df_clean = pd.read_csv('C:\\Users\\User\\Desktop\\팀플\\train_outlier_fill_1.csv', index_col = 0)
df_clean2 = pd.read_csv('C:\\Users\\User\\Desktop\\팀플\\test_outlier_fill_1.csv', index_col = 0)
df_clean.head()
df_clean2.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,9,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,19.0,Good,809.98,35.030402,273.0,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702
1,0x160b,CUS_0xd40,10,Aaron Maashoh,24.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,33.053114,274.0,No,49.574949,21.465380,High_spent_Medium_value_payments,361.444004
2,0x160c,CUS_0xd40,11,Aaron Maashoh,24.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,33.811894,274.0,No,49.574949,148.233938,Low_spent_Medium_value_payments,264.675446
3,0x160d,CUS_0xd40,12,Aaron Maashoh,24.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,32.430559,276.0,No,49.574949,39.082511,High_spent_Medium_value_payments,343.826873
4,0x1616,CUS_0x21b1,9,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,5.0,Good,605.03,25.926822,327.0,No,18.816215,39.684018,High_spent_Large_value_payments,485.298434

### 필요없는 컬럼 제거

In [3]:
# Drop columns
print("Size of Dataset before dropping columns : ",df_clean.shape)
drop_columns = ['ID','Customer_ID','Name','SSN', 'Type_of_Loan']
df_clean.drop(drop_columns,axis=1,inplace=True)
print("Size of Dataset after dropping columns : ",df_clean.shape)

Size of Dataset before dropping columns :  (75488, 28)
Size of Dataset after dropping columns :  (75488, 23)

In [4]:
# Drop columns
print("Size of Dataset before dropping columns : ",df_clean2.shape)
drop_columns = ['ID','Customer_ID','Name','SSN', 'Type_of_Loan']
df_clean2.drop(drop_columns,axis=1,inplace=True)
print("Size of Dataset after dropping columns : ",df_clean2.shape)

Size of Dataset before dropping columns :  (37943, 27)
Size of Dataset after dropping columns :  (37943, 22)

### 라벨인코딩

In [5]:
df_encode = df_clean.copy()
df_encode2 = df_clean2.copy()

In [6]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

categorical_columns = ['Occupation','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour','Credit_Score']
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Loop through each column and apply label encoding
for column in categorical_columns:
    df_encode[column] = label_encoder.fit_transform(df_clean[column])

In [7]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

categorical_columns = ['Occupation','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour']
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Loop through each column and apply label encoding
for column in categorical_columns:
    df_encode2[column] = label_encoder.fit_transform(df_clean2[column])

In [8]:
print(df_clean['Occupation'].value_counts())
print(df_encode['Occupation'].value_counts())
print(df_clean2['Occupation'].value_counts())
print(df_encode2['Occupation'].value_counts())

Lawyer           5382
Engineer         5161
Architect        5145
Scientist        5133
Accountant       5116
Mechanic         5105
Teacher          5031
Developer        5025
Entrepreneur     5011
Media_Manager    5009
Journalist       4973
Doctor           4954
Manager          4878
Musician         4789
Writer           4776
Name: Occupation, dtype: int64
7     5382
4     5161
1     5145
12    5133
0     5116
9     5105
13    5031
2     5025
5     5011
10    5009
6     4973
3     4954
8     4878
11    4789
14    4776
Name: Occupation, dtype: int64
Lawyer           2683
Architect        2616
Engineer         2612
Accountant       2592
Mechanic         2558
Developer        2547
Scientist        2539
Doctor           2537
Teacher          2511
Media_Manager    2511
Entrepreneur     2501
Journalist       2484
Musician         2435
Manager          2424
Writer           2393
Name: Occupation, dtype: int64
7     2683
1     2616
4     2612
0     2592
9     2558
2     2547
12    2539
3     2537
13    2511
10    2511
5     2501
6     2484
11    2435
8     2424
14    2393
Name: Occupation, dtype: int64

In [9]:
print(df_clean['Credit_Mix'].value_counts())
print(df_encode['Credit_Mix'].value_counts())
print(df_clean2['Credit_Mix'].value_counts())
print(df_encode2['Credit_Mix'].value_counts())

Standard    34764
Good        22636
Bad         18088
Name: Credit_Mix, dtype: int64
2    34764
1    22636
0    18088
Name: Credit_Mix, dtype: int64
Standard    17470
Good        11392
Bad          9081
Name: Credit_Mix, dtype: int64
2    17470
1    11392
0     9081
Name: Credit_Mix, dtype: int64

In [10]:
print(df_clean['Payment_of_Min_Amount'].value_counts())
print(df_encode['Payment_of_Min_Amount'].value_counts())
print(df_clean2['Payment_of_Min_Amount'].value_counts())
print(df_encode2['Payment_of_Min_Amount'].value_counts())

Yes    39723
No     35765
Name: Payment_of_Min_Amount, dtype: int64
1    39723
0    35765
Name: Payment_of_Min_Amount, dtype: int64
Yes    19939
No     18004
Name: Payment_of_Min_Amount, dtype: int64
1    19939
0    18004
Name: Payment_of_Min_Amount, dtype: int64

In [11]:
print(df_clean['Payment_Behaviour'].value_counts())
print(df_encode['Payment_Behaviour'].value_counts())
print(df_clean2['Payment_Behaviour'].value_counts())
print(df_encode2['Payment_Behaviour'].value_counts())

Low_spent_Small_value_payments      20944
High_spent_Medium_value_payments    14721
High_spent_Large_value_payments     11528
Low_spent_Medium_value_payments     11033
High_spent_Small_value_payments      8970
Low_spent_Large_value_payments       8292
Name: Payment_Behaviour, dtype: int64
5    20944
1    14721
0    11528
4    11033
2     8970
3     8292
Name: Payment_Behaviour, dtype: int64
Low_spent_Small_value_payments      10184
High_spent_Medium_value_payments     7543
High_spent_Large_value_payments      5987
Low_spent_Medium_value_payments      5366
High_spent_Small_value_payments      4641
Low_spent_Large_value_payments       4222
Name: Payment_Behaviour, dtype: int64
5    10184
1     7543
0     5987
4     5366
2     4641
3     4222
Name: Payment_Behaviour, dtype: int64

In [13]:
print(df_clean['Credit_Score'].value_counts())
print(df_encode['Credit_Score'].value_counts())

Standard    40250
Poor        21997
Good        13241
Name: Credit_Score, dtype: int64
2    40250
1    21997
0    13241
Name: Credit_Score, dtype: int64